[submodule "third_party/libutp"]
	path = third_party/libutp
	url = git://github.com/bittorrent/libutp.git
	ignore = dirty
[submodule "third_party/proto-quic"]
	path = third_party/proto-quic
	url = git://github.com/google/proto-quic.git
	ignore = dirty
[submodule "third_party/pcc"]
	path = third_party/pcc
	url = git://github.com/modong/pcc.git
	ignore = dirty
[submodule "third_party/verus"]
	path = third_party/verus
	url = git://github.com/yzaki/verus.git
	ignore = dirty
[submodule "third_party/webrtc"]
	path = third_party/webrtc
	url = git://github.com/StanfordSNR/webrtc.git
	ignore = dirty
[submodule "third_party/sprout"]
	path = third_party/sprout
	url = git://github.com/keithw/sprout.git
	ignore = dirty
[submodule "third_party/pantheon-tunnel"]
	path = third_party/pantheon-tunnel
	url = git://github.com/StanfordSNR/pantheon-tunnel.git
	ignore = dirty
[submodule "third_party/genericCC"]
	path = third_party/genericCC
	url = git://github.com/venkatarun95/genericCC
	ignore = dirty
[submodule "third_party/fillp"]
	path = third_party/fillp
	url = git://github.com/fillthepipe/fill-the-pipe.git
	ignore = dirty
[submodule "third_party/vivace"]
	path = third_party/vivace
	url = git://github.com/StanfordSNR/vivace.git
	ignore = dirty
[submodule "third_party/pcc-experimental"]
	path = third_party/pcc-experimental
	url = git://github.com/PCCproject/PCC-Uspace.git
	ignore = dirty
[submodule "third_party/indigo"]
	path = third_party/indigo
	url = git://github.com/StanfordSNR/indigo.git
	ignore = dirty
[submodule "third_party/scream-reproduce"]
	path = third_party/scream-reproduce
	url = git://github.com/StanfordSNR/scream.git
	ignore = dirty
[submodule "third_party/fillp-sheep"]
	path = third_party/fillp-sheep
	url = git://github.com/fillthepipe/fillp-sheep.git
	ignore = dirty
